---
import Base from '@/layouts/base.astro'
import { localizePath } from 'astro-i18next'
import { getAuthors } from '@/repository/author'
import { Trans } from 'astro-i18next/components'
import { Image } from 'astro:assets'
import { changeLanguage, t } from 'i18next'

changeLanguage('en')

const authors = await getAuthors()
---

<Base title={t('meta.about.title')}>
	<section class="-mx-4 bg-slate-200 py-6 px-4 prose">
		<h1 class="font-bold text-2xl mb-4">{t('about:welcoming.greeting')}</h1>
		<Trans i18nKey="welcoming.about" ns="about">
			<p>
				Ruang work was created as a platform to share inspiration, tips, tricks, snippets, hobbies, something
				interesting in the scope of technology, entertainment, and so on. such as programming, design, AI,
				cryptocurrency, books, movies, to product reviews.
			</p>
			<p>
				The purpose of this site is to be an informative, entertaining, and useful platform for readers by
				offering a variety of interesting content on technology, entertainment, and other related topics. Thus,
				it is hoped that this site can be a valuable resource for visitors in developing their knowledge,
				skills, and interests.
			</p>
		</Trans>
	</section>

	<section>
		<h1 class="py-6 text-2xl">{t('about:section.people.title')}</h1>
		<div class="leading-4 align-baseline border-0">
			<ul
				class="flex flex-wrap -mx-2 text-2xl tracking-normal leading-relaxed align-baseline border-0 lg:-mx-6 md:-mx-4">
				{
					authors.map((author) => (
						<li class="px-2 mb-12 w-1/2 text-base leading-6 text-left align-baseline border-0 lg:mb-10 lg:px-6 sm:w-1/3 md:px-4">
							<div class="overflow-hidden relative px-0 pb-0 mt-0 mb-4 h-0 align-baseline border-0 lg:mb-6 pt-[96%]">
								<a
									href={localizePath(`${author.slug}`)}
									class="absolute w-full h-full align-baseline border-0 opacity-100"
									style="inset: 0px;">
									{author.data.avatar && (
										<Image
											src={author.data.avatar}
											width={author.data.avatar?.width}
											width={author.data.avatar?.height}
											alt={author.data.name}
											class="object-cover  w-full h-full"
										/>
									)}
								</a>
							</div>

							<p class="tracking-wide align-baseline border-0">{author.data.name}</p>
						</li>
					))
				}
			</ul>
		</div>
	</section>

	<section class="py-6">
		<p>
			<em>
				Please provide feedback on any errors in this article via the social media above or the comments
				section. The views expressed are personal and do not represent the views of the company or affiliated
				organizations. Thank you.
			</em>
		</p>
	</section>
</Base>
