---
import { POSTS_PER_PAGE } from '@/constant'
import Base from '@/layouts/base.astro'
import { getArticles } from '@/repository/blog'
import type { GetStaticPaths, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'
import { changeLanguage } from 'i18next'

import ArticleItem from '@/components/article-item.astro'
import Pagination from '@/components/pagination.astro'
import TopicNavigation from '@/components/topic-navigation.astro'
import { getTopics } from '@/repository/topics'

changeLanguage('en')

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
	const topics = await getTopics()
	const posts = await getArticles()

	return topics.map((topic) => {
		const slug = topic.slug.split('/')[1]
		const filteredPosts = posts.filter((post) => post.data.topics.includes(slug))
		return paginate(filteredPosts, {
			params: { topic: slug },
			props: { topic },
			pageSize: POSTS_PER_PAGE,
		})
	})
}

export type Props = {
	page: Page<CollectionEntry<'blog'>>
	topic: CollectionEntry<'topics'>
}

const { page, topic } = Astro.props
const { topic: current } = Astro.params
const { Content } = await topic.render()
---

<Base title={topic.data.title} description={topic.data.excerpt}>
	<main class="max-w-7xl mx-auto mb-12">
		<h1 class="pt-6 mb-2 text-2xl">{topic.data.title}</h1>
		<div class="prose dark:prose-invert">
			<Content />
		</div>

		<TopicNavigation current={current} />

		<section class="grid gap-4">
			<div class="mt-8 grid grid-flow-dense grid-cols-1 gap-8">
				<ArticleItem posts={page.data} />
			</div>
			<Pagination page={page} />
		</section>
	</main>
</Base>
